<!DOCTYPE html>
{% extends "main_app/common.html" %}
{% load static %}

<html lang="en">
    {% block content %}
    <br>
    <body style="background-color:white;">
        <div class="container">
            <div class="jumbotron" style="background-color:white;">
              <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
              <h1 class="display-4" style="color: black; font-family: 'Bangers', cursive;">Women's Safety Laws</h1>
              <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap" rel="stylesheet">
              <p class="lead" style="font-family: 'Overpass', sans-serif;"><b>"Always REMEMBER Awareness without Action is Worthless"</b></p>
              <hr class="my-10">
              <a  style="color:white; background-color:black;" class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Women_in_India#Women's_safety_laws" 
              role="button" target="_blank">For More Details</a>
            </div>

            <ul class = "collapsible popout" data-collapsible = "accordion">
                
                
                <li>
                    <div class = "collapsible-header"  style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Commission of Sati (prevention) Act(1987)</h5></div>
                    <div class = "collapsible-body"><p>The Sati (Prevention) Act(1987) enacted by Government of Rajasthan in 1987 seeks to prevent sati - the practice of 
                        forced/voluntary burning/burying alive of a widow - and to prohibit its glorification through ceremony, procession, creation of financial trust, 
                        construction of a temple, etc. that commemorate or honor the memory of those who committed sati. Sati is against human nature and no Indian religion 
                        enjoins it as an imperative duty. Effective measures must be taken to prevent its commission and glorification.
                    </p></div>
                 </li>
                
                 <br>
                
                 <li>
                    <div class = "collapsible-header"  style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Protection of Women Against Domestic Violence Act(2005)</h5></div>
                    <div class = "collapsible-body"><p>The Parliament of India enacted the Protection of Women from Domestic Violence Act(2005) which provides, for the first 
                        time in Indian law, a definition of "domestic violence". It includes physical violence, emotional/verbal, sexual, and economic abuse. It is a civil 
                        law meant protection orders but not criminal enforcement. Domestic violence is defined by Section 3 of the Act as[3] "any act, omission or  commission 
                        or conduct of the respondent shall constitute domestic violence in case it:harms or injures or endangers the health, safety, life, limb or well-being, 
                        whether mental or physical, of the aggrieved person or tends to do so and includes causing physical abuse, sexual abuse, verbal and emotional abuse 
                        and economic abuse; harasses, harms, injures or endangers the aggrieved person to coerce her or any other person related to her to meet any unlawful 
                        demand for any dowry or other property or valuable security;has the effect of threatening the aggrieved person or any person related to her by any 
                        conduct mentioned in clause (a) or clause (b); or otherwise injures or causes harm, whether physical or mental, to the aggrieved person.
                    </p></div>
                 </li>
                
                 <br>
                
                 <li>
                    <div class = "collapsible-header"  style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Prohibition of Child Marriage Act(2006)</h5></div>
                    <div class = "collapsible-body"><p>According to the International Research Centre for Women, around 40% of women are married before the age of 18. 
                        Currently, India ranks 6th in child marriage world-wide. It has become a generational affair, and is difficult to eliminate. This act defines child 
                        marriage as a marriage where the groom or the bride are underage - if the bride is under 18 years, or the boy is under 21. Parents attempting to wed 
                        underage girls are subject to action</p></div>
                 </li>
                
                 <br>
                
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>The Immoral Traffic (Prevention) Act(1956)</h5></div>
                    <div class = "collapsible-body"><p>Although prostitution is a grey-area in India, several related activities - including soliciting in a public place, 
                        kerb crawling, owning/managing a brothel, prostitution in a hotel, child prostitution, pimping and pandering - are illegal. However, illegal brothels 
                        operate in Indian cities, including metropolitans. Government organisations like MDACS have played a prominent role in generating awareness on 
                        HIV/AIDS via free literature and street campaigns. The primary law dealing with the status of sex workers - The Immoral Traffic (Suppression) 
                        Act(1956) or SITA - states that prostitutes can practise their trade privately, but cannot legally solicit customers in public. Male prostitution is 
                        not recognised by Indian law. As long as it is done individually and voluntarily, a woman can use her body in exchange for material benefit. Clients 
                        can be punished for sexual activity in proximity to public spaces - the law forbids a sex worker to carry on her profession within 200 yards of a 
                        public place. Sex workers are not protected under normal labour laws, but they possess the right to rescue and rehabilitation if they desire, and all 
                        the rights of a citizen. India has seen a growing mandate to legalise prostitution to avoid the exploitation of sex workers and their children by 
                        middlemen in the wake of a growing HIV/AIDS menace.
                    </p></div>
                 </li>
                
                 <br>
                
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Special Marriage Act(1954)</h5></div>
                    <div class = "collapsible-body"><p>The objectives of this act is to provide a special form of marriage in certain cases, for registration of certain 
                        marriages, and for divorce. In a country like India with diverse religions and castes, inter-faith and inter-caste marriages take place under the 
                        Special Marriage Act. It isn't applicable to the state of Jammu and Kashmir but does extend to spouses of Indian nationality living abroad.</p></div>
                 </li>
                
                 <br>
                
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Dowry Prohibition Act(1961) </h5></div>
                    <div class = "collapsible-body"><p>Both receiving and giving of dowry at the time of the marriage by the bride or the bridegroom and their family is to be 
                        penalised. The Dowry System is a custom in India, often asked of the bride's family. The system has taken strong roots because women after marriage 
                        move in with their spouse and his family. Over the centuries, it has - along with the lack for economic independence of women and the taboo towards 
                        divorce - resulted in the cruel practice of bride burning. It is one of the social evils of our time. Women who have stepped up and brought it to 
                        notice have helped to spread the word, and have encouraged other women to take a stand. </p></div>
                 </li>
                
                 <br>
            
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Indian Divorce Act(1969) </h5></div>
                    <div class = "collapsible-body"><p>The Indian Divorce Act allows the dissolution of marriage, mutual consent, nullity of marriage, judicial
                      separation and restitution of conjugal rights. Family Courts are established to file, hear, and dispose of such
                      cases.</p></div>
                 </li>
                
                 <br>
                
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Medical Termination of Pregnancy Act(1971) </h5></div>
                    <div class = "collapsible-body"><p>The Act came into effect into 1972, was amended in 1975 and 2002. The aim of the Act is to reduce the
                      occurrence of illegal abortion and consequent maternal mortality and morbidity. It clearly states the conditions
                      under which a pregnancy can be ended or aborted and specifies the persons qualified to conduct the same.</p></div>
                 </li>
                
                 <br>
                
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Maternity Benefit Act(1861) </h5></div>
                    <div class = "collapsible-body"><p>This act regulates the employment of women and maternity benefits mandated by law. It states that a woman
                      employee who has worked in an organisation for a period of at least 80 days during the 12 months preceding the
                      date of her expected delivery is entitled to receive maternity benefits, which includes maternity leave, nursing
                      breaks, medical allowance, etc.</p></div>
                 </li>
                
                 <br>
                
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>The Criminal Law (Amendment) Act(2013) </h5></div>
                    <div class = "collapsible-body"><p>The Criminal Law (Amendment) Act, 2013 (Nirbhaya Act) is an Indian legislation passed by the Lok Sabha
                        on 19 March 2013, and by the Rajya Sabha on 21 March 2013, which provides for amendment of Indian Penal Code, Indian Evidence Act, and 
                        Code of Criminal Procedure, 1973 on laws related to sexual offences.The Bill received Presidential assent on 2 April 2013 and was deemed 
                        to be effective from 3 February 2013. It was originally an Ordinance promulgated by the President of India, Pranab Mukherjee, on 
                        3 February 2013, in light of the protests in the 2012 Delhi gang rape case.The law has been severely criticized for being gender 
                        biased and giving women the legal authority to commit exactly the same crimes (against which they seek protection) against men with 
                        impunity. The Criminal Law (Amendment) Ordinance, 2013 has been strongly criticised by several human rights and women's rights 
                        organisations for not including certain suggestions recommended by the Verma Committee Report like, marital rape, reduction of age of 
                        consent[failed verification], amending Armed Forces (Special Powers) Act so that no sanction is needed for prosecuting an armed force 
                        personnel accused of a crime against woman.The Government of India, replied that it has not rejected the suggestions fully, but changes 
                        can be made after proper discussion.</p></div>
                 </li>
                
                 <br>
                
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Sexual Harassment of Women at Workplace</h5></div>
                    <div class = "collapsible-body"><p>To ensure women&#39s safety at workplace, this Act seeks to protect them from sexual harassment at their place
                      of work. Thirty-six percent of Indian companies and 25 percent among MNC&#39s are not complaint with the Sexual
                      Harassment Act according to a FICCI-EY November 2015 report. Sexual harassment at workplace also includes &#45
                      the use of language with sexual overtones, invasion of private space with a male colleague hovering too close
                      for comfort, subtle touches and innuendoes. </p></div>
                 </li>
                
                 <br>
                
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Indecent Representation of Women(Prevention) Act(1986) </h5></div>
                    <div class = "collapsible-body"><p>This Act prohibits indecent representation of women through advertisement or in publications, writings,
                      paintings, figures or in any other manner. </p></div>
                 </li>
                
                 <br>
                
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>National Commission for Women Act(1990) </h5></div>
                    <div class = "collapsible-body"><p>The National Commission for Women (NCW) is a statutory body of the Government of India, established in January
                      1992. Lalitha Kumaramangalam was appointed its Chairperson in 2014. The NCW represents the rights of women in
                      India and provides a voice for their issues and concerns. The National Commission for Women Act aims to improve
                      the status of women and worked for their economic empowerment.</p></div>
                 </li>
                
                 <br>
                
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Equal Remuneration Act(1976) </h5></div>
                    <div class = "collapsible-body"><p>This Act prevents discrimination in terms of remuneration. It provides for payment of equal recompense to men
                      and women workers. It is necessary to know these and other laws in place to protect the interests of women. Only
                      if you are aware of your rights can you fight against any injustice meted out to you at home, at the workplace,
                      or in the society.</p></div>
                 </li>
                
                 <br>
                
                 <li>
                    <div class = "collapsible-header" style="background-color:white ;">
                        <i class = "material-icons" style="margin-top:18px;">arrow_drop_down</i><h5>Family Courts Act(1984) </h5></div>
                    <div class = "collapsible-body"><p>Family court was originally created to be a Court of Equity convened to decide matters and make orders
                        in relation to family law, such as custody of children and could disregard certain legal requirements as long as the petitioner/plaintiff 
                        came into court with “clean hands” and the request was reasonable, “quantum meruit”. Changes in laws and rules have made this distinction 
                        superfluous.Family courts hear all cases that relate to familial and domestic relationships. Each state and each country has a different 
                        system utilized to address family law cases including decisions regarding divorce cases.</p></div>
                 </li>
                
                
            </ul>
            <br>
        </div>
    </body>

    {% endblock %}
    
</html>
